#footer
  background: color-footer-background
  padding: 20px
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  height: max-content
  line-height: line-height
  font-size: 0.85em